body {
    background-image:url('12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    color:rgb(11, 1, 1);
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}