body {
    background-image:url('13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    color:black;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}